@page "/apikey"
<PageTitle>ApiKey</PageTitle>

<MudPaper>
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudText Typo="Typo.h3" Align="Align.Center" Class="pa-2 mx-2">Open Weather Map Api Key</MudText>

        <MudText Typo="Typo.body1" Align="Align.Justify" Class="pa-2 mx-2">
            To run the application, you need an API key to call the Open Weather Map API.  You can
            sign up for a free account which is all that is required to run the demo project.  To sign up, go
            to the page <a target="_blank" href="https://openweathermap.org/price">https://openweathermap.org/price</a>
            and click on the "Get API Key and Start" button under the Free tier.
        </MudText>
        <img src="images/logo_white_cropped.png" alt="logo white cropped" width="200" height="100" />
    </MudContainer>
</MudPaper>